@tailwind base;
@tailwind components;
@tailwind utilities;

.learningIntro {
  background: linear-gradient(180deg, #056b47 -2.48%, rgba(5, 107, 71, 0) 95%),
    linear-gradient(0deg, transparent, transparent);
  clip-path: ellipse(200% 100% at 50% 100%);
  inset: 0;

  z-index: -10;
  position: absolute;
}

.scrollbar-custom {
  border-radius: 10px;
  scrollbar-width: thin; /* Ancho de la barra de desplazamiento */

  scrollbar-color: #888 #f1f1f1; /* Color del pulgar y la pista */
}

.scrollbar-custom::-ms-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollbar-custom::-ms-scrollbar-track {
  border-radius: 10px;
}
