@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.learningIntro {
  background: linear-gradient(180deg, #056b47 -2.48%, rgba(5, 107, 71, 0) 95%),
    linear-gradient(0deg, transparent, transparent);
  clip-path: ellipse(200% 100% at 50% 100%);
  inset: 0;

  z-index: -10;
  position: absolute;
}

.scrollbar-custom {
  border-radius: 10px;
  scrollbar-width: thin; /* Ancho de la barra de desplazamiento */

  scrollbar-color: #888 #f1f1f1; /* Color del pulgar y la pista */
}

.scrollbar-custom::-ms-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollbar-custom::-ms-scrollbar-track {
  border-radius: 10px;
}

.box3dRight {
  transform: skewY(45deg);
  transform-origin: right;
}

.box3dBottom {
  transform: skew(45deg);
  transform-origin: bottom;
}

@keyframes arrow {
  0% {
    transform: rotate(2deg);
  }

  40% {
    transform: rotate(6deg);
  }
  60% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

.arrow-animation {
  animation: arrow 2s ease-in-out infinite normal forwards;
}

ruby {
  display: inline-flex;
  flex-direction: column-reverse;
}

rb,
rt {
  display: inline;
  line-height: 1;
}

.no-drag {
  user-drag: none;
  -webkit-user-drag: none;
}
